@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to My Portfolio</h1>
    <p class="lead">Software Engineer | .NET Developer | Full-Stack Enthusiast</p>
    <a href="/Projects" class="btn btn-primary btn-lg">View My Projects</a>
</div>